Playboooks/VirusTotal.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "Entities_-_Get_FileHashes": {
                "inputs": {
                    "body": "@triggerBody()?['Entities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/filehash"
                },
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Add_comment_to_incident_(V3)": {
                                "inputs": {
                                    "body": {
                                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                        "message": "<p>Virus Total File Report found for @{items('For_each')?['Value']}<br>\nReputation is: @{body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']} which indicates likely harmless<br>\nThreat name: @{body('Parse_JSON')?['data']?['attributes']?['popular_threat_classification']?['suggested_threat_label']}<br>\nName of the file: @{body('Parse_JSON')?['data']?['attributes']?['meaningful_name']}<br>\nType o thef file: @{body('Parse_JSON')?['data']?['attributes']?['type_description']}<br>\n<br>\nLink: @{body('Parse_JSON')?['data']?['links']?['self']}</p>"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/Incidents/Comment"
                                },
                                "runAfter": {
                                    "Send_Data": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            },
                            "Send_Data": {
                                "inputs": {
                                    "body": "@{body('Retrieve_information_about_a_file')?['data']}",
                                    "headers": {
                                        "Log-Type": "VTFileReport",
                                        "time-generated-field": "@{utcNow()}"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/api/logs"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            },
                            "Update_incident": {
                                "inputs": {
                                    "body": {
                                        "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                        "severity": "Low",
                                        "status": "New"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                        }
                                    },
                                    "method": "put",
                                    "path": "/Incidents"
                                },
                                "runAfter": {
                                    "Add_comment_to_incident_(V3)": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "ApiConnection"
                            }
                        },
                        "else": {
                            "actions": {
                                "Add_comment_to_incident_(V3)_2": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                            "message": "<p>Virus Total File Report found for @{items('For_each')?['Value']}<br>\nReputation is: @{body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']} which indicates likely malicous<br>\nThreat name: @{body('Parse_JSON')?['data']?['attributes']?['popular_threat_classification']?['suggested_threat_label']}<br>\nName of the file: @{body('Parse_JSON')?['data']?['attributes']?['meaningful_name']}<br>\nType o thef file: @{body('Parse_JSON')?['data']?['attributes']?['type_description']}<br>\n<br>\nLink: @{body('Parse_JSON')?['data']?['links']?['self']}</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    },
                                    "runAfter": {
                                        "Send_Data_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [
                                                "inputs"
                                            ]
                                        }
                                    },
                                    "type": "ApiConnection"
                                },
                                "Send_Data_2": {
                                    "inputs": {
                                        "body": "@{body('Retrieve_information_about_a_file')?['data']}",
                                        "headers": {
                                            "Log-Type": "VTFileReport",
                                            "time-generated-field": "@{utcNow()}"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/api/logs"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                },
                                "Update_incident_2": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                            "severity": "High"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Incidents"
                                    },
                                    "runAfter": {
                                        "Add_comment_to_incident_(V3)_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                }
                            }
                        },
                        "expression": {
                            "or": [
                                {
                                    "greaterOrEquals": [
                                        "@body('Retrieve_information_about_a_file')?['data']?['attributes']?['reputation']",
                                        0
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    },
                    "Parse_JSON": {
                        "inputs": {
                            "content": "@body('Retrieve_information_about_a_file')",
                            "schema": {
                                "properties": {
                                    "data": {
                                        "properties": {
                                            "attributes": {
                                                "properties": {
                                                    "authentihash": {
                                                        "type": "string"
                                                    },
                                                    "bytehero_info": {
                                                        "type": "string"
                                                    },
                                                    "creation_date": {
                                                        "type": "integer"
                                                    },
                                                    "first_submission_date": {
                                                        "type": "integer"
                                                    },
                                                    "last_analysis_date": {
                                                        "type": "integer"
                                                    },
                                                    "last_analysis_results": {
                                                        "properties": {
                                                            "ALYac": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "APEX": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "AVG": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Acronis": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Ad-Aware": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "AhnLab-V3": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Alibaba": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Antiy-AVL": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Arcabit": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Avast": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Avast-Mobile": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Avira": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Baidu": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "BitDefender": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "BitDefenderFalx": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "BitDefenderTheta": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Bkav": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "CAT-QuickHeal": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "CMC": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ClamAV": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Comodo": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "CrowdStrike": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Cybereason": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Cylance": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Cynet": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Cyren": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "DrWeb": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ESET-NOD32": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Elastic": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Emsisoft": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "F-Secure": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "FireEye": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Fortinet": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "GData": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Gridinsoft": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Ikarus": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Jiangmin": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "K7AntiVirus": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "K7GW": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Kaspersky": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Kingsoft": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Lionic": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "MAX": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Malwarebytes": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "MaxSecure": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "McAfee": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "McAfee-GW-Edition": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "MicroWorld-eScan": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Microsoft": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "NANO-Antivirus": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Paloalto": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Panda": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Rising": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "SUPERAntiSpyware": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Sangfor": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "SentinelOne": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Sophos": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Symantec": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "SymantecMobileInsight": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "TACHYON": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Tencent": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Trapmine": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "TrendMicro": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "TrendMicro-HouseCall": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Trustlook": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "VBA32": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ViRobot": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "VirIT": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Webroot": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Yandex": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Zillya": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ZoneAlarm": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Zoner": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {}
                                                                },
                                                                "type": "object"
                                                            },
                                                            "tehtris": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_name": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_update": {
                                                                        "type": "string"
                                                                    },
                                                                    "engine_version": {
                                                                        "type": "string"
                                                                    },
                                                                    "method": {
                                                                        "type": "string"
                                                                    },
                                                                    "result": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "last_analysis_stats": {
                                                        "properties": {
                                                            "confirmed-timeout": {
                                                                "type": "integer"
                                                            },
                                                            "failure": {
                                                                "type": "integer"
                                                            },
                                                            "harmless": {
                                                                "type": "integer"
                                                            },
                                                            "malicious": {
                                                                "type": "integer"
                                                            },
                                                            "suspicious": {
                                                                "type": "integer"
                                                            },
                                                            "timeout": {
                                                                "type": "integer"
                                                            },
                                                            "type-unsupported": {
                                                                "type": "integer"
                                                            },
                                                            "undetected": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "last_modification_date": {
                                                        "type": "integer"
                                                    },
                                                    "last_submission_date": {
                                                        "type": "integer"
                                                    },
                                                    "magic": {
                                                        "type": "string"
                                                    },
                                                    "md5": {
                                                        "type": "string"
                                                    },
                                                    "meaningful_name": {
                                                        "type": "string"
                                                    },
                                                    "names": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "pe_info": {
                                                        "properties": {
                                                            "entry_point": {
                                                                "type": "integer"
                                                            },
                                                            "imphash": {
                                                                "type": "string"
                                                            },
                                                            "import_list": {
                                                                "items": {
                                                                    "properties": {
                                                                        "imported_functions": {
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "library_name": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "library_name",
                                                                        "imported_functions"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "machine_type": {
                                                                "type": "integer"
                                                            },
                                                            "sections": {
                                                                "items": {
                                                                    "properties": {
                                                                        "chi2": {
                                                                            "type": "number"
                                                                        },
                                                                        "entropy": {
                                                                            "type": "number"
                                                                        },
                                                                        "flags": {
                                                                            "type": "string"
                                                                        },
                                                                        "md5": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "raw_size": {
                                                                            "type": "integer"
                                                                        },
                                                                        "virtual_address": {
                                                                            "type": "integer"
                                                                        },
                                                                        "virtual_size": {
                                                                            "type": "integer"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "chi2",
                                                                        "virtual_address",
                                                                        "flags",
                                                                        "raw_size",
                                                                        "entropy",
                                                                        "virtual_size",
                                                                        "md5"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "timestamp": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "popular_threat_classification": {
                                                        "properties": {
                                                            "popular_threat_category": {
                                                                "items": {
                                                                    "properties": {
                                                                        "count": {
                                                                            "type": "integer"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "count",
                                                                        "value"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "popular_threat_name": {
                                                                "items": {
                                                                    "properties": {
                                                                        "count": {
                                                                            "type": "integer"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "count",
                                                                        "value"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "suggested_threat_label": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "reputation": {
                                                        "type": "integer"
                                                    },
                                                    "sandbox_verdicts": {
                                                        "properties": {
                                                            "Dr.Web vxCube": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "malware_classification": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "sandbox_name": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "Lastline": {
                                                                "properties": {
                                                                    "category": {
                                                                        "type": "string"
                                                                    },
                                                                    "malware_classification": {
                                                                        "items": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "sandbox_name": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "sha1": {
                                                        "type": "string"
                                                    },
                                                    "sha256": {
                                                        "type": "string"
                                                    },
                                                    "size": {
                                                        "type": "integer"
                                                    },
                                                    "ssdeep": {
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "times_submitted": {
                                                        "type": "integer"
                                                    },
                                                    "tlsh": {
                                                        "type": "string"
                                                    },
                                                    "total_votes": {
                                                        "properties": {
                                                            "harmless": {
                                                                "type": "integer"
                                                            },
                                                            "malicious": {
                                                                "type": "integer"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "trid": {
                                                        "items": {
                                                            "properties": {
                                                                "file_type": {
                                                                    "type": "string"
                                                                },
                                                                "probability": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "required": [
                                                                "file_type",
                                                                "probability"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "type_description": {
                                                        "type": "string"
                                                    },
                                                    "type_extension": {
                                                        "type": "string"
                                                    },
                                                    "type_tag": {
                                                        "type": "string"
                                                    },
                                                    "unique_sources": {
                                                        "type": "integer"
                                                    },
                                                    "vhash": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "links": {
                                                "properties": {
                                                    "self": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "runAfter": {
                            "Retrieve_information_about_a_file": [
                                "Succeeded"
                            ]
                        },
                        "type": "ParseJson"
                    },
                    "Retrieve_information_about_a_file": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['virustotal']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/v3/files/@{encodeURIComponent(items('For_each')?['Value'])}"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                "runAfter": {
                    "Entities_-_Get_FileHashes": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Microsoft_Sentinel_alert": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel_1']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureloganalyticsdatacollector": {
                    "connectionId": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/resourceGroups/Sentinel/providers/Microsoft.Web/connections/azureloganalyticsdatacollector-Get-VirusTotalFileInfo",
                    "connectionName": "azureloganalyticsdatacollector-Get-VirusTotalFileInfo",
                    "id": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/providers/Microsoft.Web/locations/westeurope/managedApis/azureloganalyticsdatacollector"
                },
                "azuresentinel": {
                    "connectionId": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/resourceGroups/Sentinel/providers/Microsoft.Web/connections/azuresentinel-Get-VirusTotalFileInfo",
                    "connectionName": "azuresentinel-Get-VirusTotalFileInfo",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    },
                    "id": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                },
                "azuresentinel_1": {
                    "connectionId": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/resourceGroups/Sentinel/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                },
                "virustotal": {
                    "connectionId": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/resourceGroups/Sentinel/providers/Microsoft.Web/connections/virustotal-Get-VirusTotalFileInfo",
                    "connectionName": "virustotal-Get-VirusTotalFileInfo",
                    "id": "/subscriptions/e65c8621-9ded-4164-878c-654bbd1ed607/providers/Microsoft.Web/locations/westeurope/managedApis/virustotal"
                }
            }
        }
    }
}